* {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.backgdddd {
    background-image:url(../projectbootstrap3/backgddd.png) ;
    background-color: #fafafa;
    background-size: cover;
    margin-left: 115px;
}

#sort {
    background-color: #25476a;
    color: white;
    padding: 2px 30px 2px 0px;
    text-align: left;
   
}

.extra {
    background-color: #efefef ;
    border-radius: 10px;

}

#batto {
    background-color: aliceblue;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 7px;
}

#lineone {
    margin-top: 10px;
    vertical-align: middle;
}

#log {
    margin-left: 115px;
    padding: 5px 5px;
}

#passp {
    text-align: center;
    margin-top: 20px;
}

#aron {
    text-align: center;
}

#sort {
    vertical-align: middle;
}

#fest {
    margin-left: 15px;
    font-weight: bold;
    padding: 5px 5px;
}

#ham {
    margin-left: 125px;
    padding: 5px 5px;
}

#type {
    margin-left: 30px;
    font-size: 12px;
    opacity: 0.4;
}

#roomy {
    margin-left: 745px;
    padding: 5px 5px;
}

#bell {
    margin-left: 30px;
    padding: 5px 5px;
}

#user {
    margin-left: 30px;
    padding: 5px 5px;
}

#dots {
    margin-left: 30px;
    padding: 5px 5px;
}

/**.col-md-2 {
    margin-top: 10px;
    margin-left: -50px;
    padding-top: 30px;
}**/

.before {
    margin-left: 5px;
}

.befores {
    margin-left: 5px;
}

.beforess {
    margin-left: 5px;
}

.after {
    margin-left: 5px;
}

#label {
    margin-left: 67px;
    color: white;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #035103;
}

#labels {
    margin-left: 70px;
    color: white;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #035103;
}

#meter {
    width: 100%;
}

#but {
    width: 100%;
    color: white;
    background-color: green;
    border-radius: 3%;
}

#below {
    text-align: center;
    margin-top: -15px;
    opacity: 0.4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: inline;
}

.comp {
    margin-left: 5px;
}

.dropa {
    width: 100%;
    margin-left: 76px;
}

.dropb {
    width: 100%;
    margin-left: 117px;
}

.dropc {
    width: 100%;
    margin-left: 116px;
}

.dropd {
    width: 100%;
    margin-left: 115px;
}

.drope {
    width: 100%;
    margin-left: 62px;
}

.dropf {
    width: 100%;
    margin-left: 85px;
}

.dropg {
    width: 100%;
    margin-left: 95px;
}

.droph {
    width: 100%;
    margin-left: 125px;
}

.dropi {
    width: 100%;
    margin-left: 79px;
}

.dropj {
    width: 100%;
    margin-left: 80px;
}

.dropk {
    width: 100%;
    margin-left: 76px;
}

.dropl {
    width: 100%;
    margin-left: 84px;
}

.dropm {
    width: 100%;
    margin-left: 94px;
}

.title {
    font-weight: bolder;
}

#dash {
   margin-top: 20px; 
   font-weight: bolder;
   font-size: 25px;
   color: white;
}

#dash2 {
    margin-top: -10px;
    font-weight: bold;
    color: white;
}

#dash3 {
    margin-top: -10px;
    font-weight: lighter;
    color: white;
}

#data {
    font-size: 45px;
    width: 40%;
}

table {
    width: 100%;
    margin-top: 20px;
}

#sup {
    font-size: 16px;
}

#labeling {
    margin-left: 110px;
    color: white;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #035103;
}

#labelings {
    margin-left: 100px;
    color: white;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #035103;
}

#open {
    opacity: 0.7;
}

.max {
    text-align: center;
}

#deg {
    margin-left: 105px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 5px;
}

#degs {
    margin-left: 101px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 5px;
}

#today {
    margin-top: 20px;
}

#opening {
    width: 100%;
}

#inf {
    text-align: center;
    opacity: 0.5;
    font-size: small;
    width: 100%;
    padding-top: 10px;
}
#buto {
    width: 50%;
    margin-left: 25%;
    background-color: red;
    font-size: 12px;
    padding: 5px 5px;
    color: white;
    margin-top: -5px;
}

#folowing {

}

#folowers {
    margin-left: 30%;

}

#post {
    margin-left: 30%;

}

.folo {
    margin-top: -10px;
}

#lineline {
    margin-top: 12px;
    text-align: center;
}

.follo {
    font-size: small;
    margin-top: -17px;
}

#following {
    opacity: 0.5;
    margin-left: -5px;

}

#followers {
    opacity: 0.5;
    margin-left: 20%;

}

#posts {
    opacity: 0.5;
    margin-left: 25%;

}

#number {
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
}

#letter {
    margin-top: -10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#backg {
    background-color: #efefef;
    border-radius: 3%;
}

#imp {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 0px 10px;
    font-weight: bold;
    margin-left: 10px;
}

#joined {
    width: 100%;

}

#addnew {
    background-color: white;
    font-size: 10px;
    padding: 5px 180px 5px 10px;

}

#addnow {
    font-size: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;

}

#down {
    margin-top: 5px;
    background-color: #efefef;
    margin-left: 3px;
}

.todo {
    margin-top: 10px;
}

#warn {
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    padding: 0px 10px;
}

#rad {
    margin-left: 130px;
}

#rad2 {
    margin-left: 162px;
}

#rad3 {
    margin-left: 178px;
}

#rad4 {
    margin-left: 207px;
}

#personal {
    font-weight: bold;
}

.later {
    font-size: 12px;
    opacity: 0.5;
    margin-top: -13px;
    
}

#total {
    margin-top: 20px;
}

#upper {
    margin-left: 20px;
}

#lower {
    position: relative;
    top: -30px;
    left: 83px;
    font-size: 10px;
    opacity: 0.8;
    width: 80%;
}

#fulltext {
    text-align: justify;
    font-size: 13px;
    opacity: 0.8;
}

#twoo {
    margin-left: 10px;
}

#threee {
    margin-left: 10px;
}

#fourr {
    margin-left: 10px;
}

#addnw {
    font-size: 10px;
    background-color: #25476a;
    color: white;
    padding: 7px 15px;

}

#order {
    margin-top: 25px;
}

#six {
    border: 1px solid black;
    border-color: #eeeeee;
    padding: 5px 5px;
    font-size: 10px;
}

#search {
    margin-left: 71%;
    padding: 5px 95px 5px 5px;
    font-size: 10px;
    border: 1px solid black;
    border-color: #eeeeee;
}

table.tableau th, td{
    border-collapse: collapse;
}

table.tableau {
    margin-left: 0px;
} 

table.tableau thead{
    text-align: center;
}

table.tableau tr {
    text-align: center;

}

table.tableau tbody tr:nth-child(odd) {
    background-color : #efefef;

}

table.tableau tbody tr:nth-child(even) {
    background-color : white;

}

#last {
    text-align: center;
    opacity: 0.9;
}

#prev, #m, #mm, #mmm, #dot, #mmmm, #next {
    padding: 5px 10px;
    border: 1px solid rgba(200,200,200,0.8);
}

#m {
    background-color: #25476a;
    color: white;
}

#lefthand {
    background-color: white;
}

#paid {
    background-color: green;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;

}

#skipped {
    background-color:blue;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#refunded {
    background-color: red;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.ordr {
    color:blue;
    text-align: left;
}

#dots:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

#user:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}

#bell:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}

#roomy:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}

#ham:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}

#log:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}

#fest:hover {
    cursor: pointer;
    background-color: #25476a;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
}